@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

 #monogram {
	width: 218.02px;
    height: 136.16px;
    top: 7px;
    left: 16px;
    position: absolute;
}
 .home-content {
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
	 font-size: 120px;
	 letter-spacing: 2px;
	 line-height: 141px;
	 margin: -43px 156px 7px 0px;
	 padding-left: 19px;
	 color: white;
}
 @media screen and (min-width: 1500px) {
	 .home-content {
		 font-family: 'Montserrat', sans-serif;
		 font-weight: 700;
		 font-size: 120px;
		 letter-spacing: 2px;
		 line-height: 120px;
		 margin-bottom: 80px;
		 color: white;
	}
}
 .padding-div {
	 padding: 141px 0px 110px 0px;
}

 .no-wrap {
	 white-space: nowrap;
}

.main {
	background: #7600ff url('/assets/vector.svg') no-repeat bottom right;
	background-size: auto 114%;
}

@media screen and (min-width: 1500px) {
	.main {
		padding: 10.041em;
		background: #7600ff url('/assets/vector.svg') no-repeat bottom right;
	}
}

#rally {
		background: url(/assets/Reinhart-Optimized.png) ;
		background-size: auto 114%;
}

 #middle-button {
	 padding-right: 21px;
	 padding-left: 21px;
}
#top-nav {
	 position: absolute;
	 top: 10px;
	 right: 19px;
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 background-color: transparent;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
	 font-size: 32px;
}
.top-nav-button {
	 float: right;
}
.top-nav-button a {
	 display: block;
	 color: white;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
}
 
.section {
	position: relative;
}

#rally-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    position: absolute;
    left: 222px;
	top: 93px;
}

.visit-button {
	background-color: transparent;
    color: white;
    font-size: 29px;
    font-weight: 430;
    padding: 9px 46px;
    text-align: center;
    border: 6px solid white;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}
.visit-button a {
	color: white;
	text-decoration: none;
}

.about-button {
    background-color: transparent;
    color: white;
    font-size: 26.5px;
    padding: 9px 6px;
    text-align: center;
    border: 6px solid white;
    margin-left: 18px;
    font-weight: 480;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
}

.button-container {
	bottom: 74px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
	left: 406px;
}

.overlay {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 644px;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  