@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700,800,900&display=swap');

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#monogram {
	width: 218.02px;
	height: 136.16px;
	top: 7px;
	left: 16px;
	position: absolute;
	cursor: pointer;
}


.home-content {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 120px;
	letter-spacing: 2px;
	line-height: 141px;
	margin: -9px 156px 7px 0px;
	padding-left: 19px;
	color: white;
}

.padding-div {
	padding: 141px 0px 110px 0px;
}

.no-wrap {
	white-space: nowrap;
}

.display {
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 100px;
	letter-spacing: -1px;
	line-height: 141px;
	margin: -43px 0px 0px 0px;
	padding-left: 19px;
	color: white;
}

.main {
	background: #7600ff url('../assets/vector.svg') no-repeat bottom right;
	background-size: auto 114%;
}

#rally {
	background: url(../assets/Reinhart-Optimized.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#air-quality {
	background: url(../assets/air-quality-port.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

#nexus {
	background: #64B1FF url(../assets/nexus-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#garden-temple {
	background: #21CF7C url(../assets/plants-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.garden-temple-btn {
	background-color: rgba(33, 207, 124, 0.7) !important;
}

#middle-button {
	padding-right: 21px;
	padding-left: 21px;
}

#top-nav {
	position: absolute;
	top: 10px;
	right: 19px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
}

.top-nav-button {
	float: right;
}

.top-nav-button a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.section {
	position: relative;
}

#rally-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 68%;
	position: absolute;
	left: 222px;
	top: 93px;
}

#nexus-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	position: absolute;
	left: 286px;
	top: 77px;
}

#garden-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 59%;
	position: absolute;
	left: 276px;
	top: 107px;
}

#aq-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 54%;
	position: absolute;
	left: 303px;
	top: 103px;
}

.visit-button {
	background-color: transparent;
	color: white;
	font-size: 29px;
	font-weight: 430;
	padding: 9px 46px;
	text-align: center;
	border: 6px solid white;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}

.visit-button a {
	color: white;
	text-decoration: none;
}

.about-button {
	background-color: transparent;
	color: white;
	font-size: 26.5px;
	padding: 9px 6px;
	text-align: center;
	border: 6px solid white;
	margin-left: 18px;
	font-weight: 480;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
}

.button-container {
	bottom: 74px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: block;
	left: 406px;
}

.dev-des-container {
	bottom: -265px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: inline-block;
	left: 406px;
	white-space: nowrap;
}

.dev-des {
	display: inline-block;
}

.dev-des-text {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 31px;
	display: inline-block;
	vertical-align: middle;
}

.dev-des-circle {
	width: 51px;
	vertical-align: middle;
}

.rally-overlay {
	background-color: rgb(34, 34, 34);
	background-color: rgba(34, 34, 34, 0.75);
}

.nexus-overlay {
	top: 1317px;
	background-color: rgb(100, 177, 255);
	background-color: rgba(100, 177, 255, 0.75);
}

.garden-overlay {
	top: 1962px;
	background-color: rgb(33, 207, 124);
	background-color: rgba(33, 207, 124, 0.75);
}

.aq-overlay {
	top: 2607px;
	background-color: rgb(30, 64, 230);
	background-color: rgba(30, 64, 230, 0.75);
}

.overlay {
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: relative;
	top: 25%;
	width: 100%;
	margin-top: 30px;
}

.lng-txt-overlay-content {
	top: 10%;
	width: 878px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	font-size: 80px;
	padding: -4px;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.disabled {
	pointer-events: none;
	opacity: 0.2 !important;
	transition: 0.5s;
}

#nav-bar {
	transition: 0.5s;
}
#middle-bar {
	top: 383px;
	left: 161px;
	position: absolute;

}
#bottom-bar {
	bottom: 11px;
	right: 10px;
	position: absolute;
}
#bottom-bar a {
	text-decoration: none;
}
.linkedin-github {
	width: 30px;
}

.project-description {
	font-size: 30px;
	margin-top: -10px;
	position: fixed;
	opacity: 0;
	transition: 0.5s;
}

.project-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 120px;
	letter-spacing: -1px;
	line-height: 141px;
	margin: -43px 156px 7px 0px;
	padding-left: 19px;
	color: white;
}

.project-description-container {
	padding-left: 26px;
}


#name {
	resize: none;
	outline: none;
	border-radius: 16px;
	border-style: none;
	width: 530px;
	height: 100%;
	font-weight: 700;
	color: #979797;
}

#email-address {
	resize: none;
	outline: none;
	border-radius: 16px;
	border-style: none;
	width: 530px;
	font-weight: 700;
	color: #979797;
}

.contact-padding-div {
	padding: 136px 0px 0px 0px;
}

.contact-content {
	width: 580px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 120px;
	letter-spacing: 2px;
	line-height: 141px;
	right: 670px;
	margin: auto;
	padding-left: 36px;
	color: white;
	bottom: 160px;
	position: absolute;
}

input[type=text],
[type=email],
select,
textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 36px;
	box-sizing: border-box;
	resize: none;
	outline: none;
}

textarea {
	height: 309px;
	width: 530px;
	color: #979797;
	overflow-y: auto;
}

::placeholder {
	color: #DEDEDE;
	font-weight: 700;
	opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	font-weight: 700;
	-webkit-text-fill-color: #979797;
	color: #979797;
}

/* Style the label to display next to the inputs */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/* Style the submit button */
input[type=submit] {
	background-color: white;
	color: white;
	padding: 12px 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 18px;
	color: #7600ff;
	float: right;
	outline: none;
}

input[type=submit]:hover {
	background-color: whitesmoke;
	opacity: 1;
	color: #5700bb;
}

#about-pic {
	position: absolute;
	width: 281px;
	top: 91px;
	padding-left: 40px;
}

.about-padding-div {
	padding: 645px 0px 0px 0px
}

.about-text-container {
	position: absolute;
	width: 911px;
	border-radius: 30px;
	top: 120px;
	right: 10px;
}

#about-header {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 800;
	position: absolute;
	top: -9px;
	right: 374px;
	white-space: nowrap;
}

#about-text {
	background: rgba(118, 0, 255, .64);
	color: white;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 36px;
	box-sizing: border-box;
	resize: none;
	outline: none;
	font-weight: 600;
	font-size: 30px;
}

.skils-container {
	position: absolute;
	bottom: 10px;
	left: 191px;
}

.skill-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 45px;
	vertical-align: middle;
	display: inline-block;
}

#skill-icons {
	height: 100%;
	width: 870px;
	align-items: center;
	vertical-align: middle;
	padding-left: 10px;
}

/* Style the container */
.container {
	border-radius: 5px;
	padding: 11px 20px 19px 462px;
}

/* Floating column for labels: 25% width */
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey;  */
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #7600ff;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #5700bb;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape 995px*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media screen and (min-width: 962px) and (max-width: 1019px) {
	.home-content {
		font-size: 90px;
		line-height: 101px;
	}

	.button-container {
		bottom: 124px;
		left: 286px;
	}

	#rally-logo {
		width: 78%;
		left: 132px;
	}

	#nexus-logo {
		left: 196px;
	}

	#garden-logo {
		width: 69%;
		left: 176px;
		top: 77px;
	}

	#aq-logo {
		width: 59%;
		left: 236px;
		top: 77px;
	}

	.dev-des-container {
		bottom: -245px;
		left: 245px;
	}

	.dev-des-circle {
		width: 41px;
	}

	.dev-des-text {
		font-size: 34px;
	}

	.project-title {
		font-size: 103px;
		margin: -43px 156px -4px 0px;
	}

	.project-description {
		font-size: 26px;
	}

	.garden-overlay {
		top: 1807px;
	}

	.aq-overlay {
		top: 2426px;
	}

	.nexus-overlay {
		top: 1203px;
	}

	.contact-content {
		width: 0px;
		font-size: 91px;
		line-height: 85px;
		left: -311px;
		bottom: 210px;
	}

	.contact-padding-div {
		padding: 572px 0px 0px 0px;
	}

	.container {
		border-radius: 5px;
		padding: 11px 20px 19px 272px;
	}


	#email-address,
	#name,
	textarea {
		width: 480px;
	}

	input[type=text],
	[type=email],
	select,
	textarea {
		border-radius: 46px;
		font-size: 19px;
	}

	input[type=submit] {
		margin-top: 4px;
		left: 481px;
		position: absolute;
	}

	form {
		position: absolute;
		top: 109px;
		right: 140px;
	}

	.about-padding-div {
		padding: 638px 0px 0px 0px;
		/* padding: 766px 0px 0px 0px; */
	}

	.skils-container {
		bottom: 30px;
		left: 36px;
	}

	.skill-text {
		font-size: 35px;
	}

	#skill-icons {
		width: 696px;
	}

	#about-pic {
		width: 241px;
		top: 100px;
		padding-left: 30px;
	}

	#about-header {
		font-size: 31px;
		top: -9px;
		right: 251px;
	}

	.about-text-container {
		width: 672px;
		top: 120px;
		right: 10px;
	}

	#about-text {
		padding: 12px;
		font-size: 23px;
	}

}

/*Responsive Display for Laptops/Screens between 1020px and 2000px*/
@media screen and (min-width: 1020px) and (max-width: 1199px) {
	.home-content {
		font-size: 98px;
		line-height: 111px;
		margin: -9px 156px 7px 0px;
		padding-left: 19px;
	}

	.main {
		background: #7600ff url(../assets/vector.svg) no-repeat bottom right;
		background-size: auto 100%;
	}

	#air-quality {
		background: url(../assets/air-quality-port.svg);
		/* background-size: auto 87%; */
		background-size: auto 100%;
		background-repeat: repeat-y;
	}

	#top-nav {
		font-size: 36px;
	}

	#monogram {
		width: 241.02px;
		height: 156.16px;
		top: 8px;
		left: 21px;
	}

	.button-container {
		bottom: 154px;
		left: 260px;
		/* bottom: 184px; */
		/* left: 282px; */
	}

	#rally-logo {
		width: 82%;
		left: 95px;
		/* top: 123px; */
		top: 53px;
	}

	#nexus-logo {
		width: 63%;
		left: 235px;
		/* width: 80%;
		left: 108px; */
		top: 87px
	}

	#garden-logo {
		width: 59%;
		left: 210px;
		/* width: 76%;
		left: 141px; */
		top: 112px;
	}

	#aq-logo {
		/* width: 66%;
		left: 217px; */
		width: 52%;
		left: 262px;
		top: 112px;
	}

	.visit-button {
		font-size: 34px;
	}

	.about-button {
		font-size: 33px;
	}

	.dev-des-container {
		bottom: -245px;
		left: 245px;
	}

	.dev-des-circle {
		width: 43px;
	}

	.dev-des-text {
		font-size: 38px;
	}

	.project-title {
		font-size: 103px;
		margin: -43px 156px -4px 0px;
	}

	.project-description {
		font-size: 26px;
	}

	.nexus-overlay {
		top: 1289px;
		/* top: 1535px; */
	}

	.garden-overlay {
		top: 1930px;
		/* top: 2303px; */
	}

	.aq-overlay {
		top: 2576px;
		/* top: 3072px; */
	}

	.contact-content {
		width: 0px;
		font-size: 90px;
		line-height: 91px;
		left: -366px;
		bottom: 280px;
	}

	.contact-padding-div {
		padding: 135px 0px 0px 0px;
		/* padding: 259px 0px 0px 0px; */
	}

	.container {
		border-radius: 5px;
		padding: 11px 20px 19px 272px;
	}

	.about-padding-div {
		padding: 638px 0px 0px 0px;
		/* padding: 766px 0px 0px 0px; */
	}

	.skils-container {
		bottom: 30px;
		left: 36px;
	}

	.skill-text {
		font-size: 35px;
	}

	#skill-icons {
		width: 796px;
	}

	#about-header {
		font-size: 36px;
		top: -9px;
		right: 204px;
	}

	.about-text-container {
		width: 691px;
		top: 120px;
		right: 10px;
	}

	#about-text {
		padding: 12px;
		font-size: 29px;
	}

}

/*Responsive Display for Laptops/Screens between 1400px and 2000px (Most Monitors) */
@media screen and (min-width: 1400px) and (max-width: 2000px) {
	#monogram {
		width: 349.02px;
		height: 180.02px;
		top: 9px;
		left: 16px;
	}

	.home-content {
		font-size: 190px;
		line-height: 205px;
		margin-left: -139px;
		margin-bottom: 0px;
		margin-top: 185px;
	}

	.display {
		line-height: 162px;
	}

	.main {
		background: #7600ff url('../assets/vector.svg') no-repeat bottom right;
	}

	.padding-div {
		padding-top: 0px;
		padding-bottom: 110px;
		padding-left: 160px;
	}

	#garden-temple {
		background-repeat: round;
	}

	#top-nav {
		font-size: 43px;
	}

	#rally-logo {
		width: 66%;
		left: 330px;
		top: 144px;
	}

	#nexus-logo {
		width: 58%;
		left: 472px;
		top: 105px;
	}

	#garden-logo {
		width: 60%;
		left: 420px;
		top: 105px;
	}

	#aq-logo {
		width: 50%;
		left: 460px;
		top: 125px;
	}

	.visit-button {
		font-size: 46px;
		padding: 9px 87px;
	}

	.about-button {
		font-size: 43px;
		padding: 9px 16px;
	}

	.button-container {
		bottom: 140px;
		left: 617px;
	}

	.dev-des-container {
		bottom: -415px;
		left: 616px;
	}

	.dev-des-text {
		font-size: 51px;
	}

	.dev-des-circle {
		width: 56px;
	}

	.nexus-overlay {
		top: 1956px;
	}

	.garden-overlay {
		top: 2936px;
	}

	.aq-overlay {
		top: 3911px;
	}

	.lng-txt-overlay-content {
		top: 11%
	}

	.project-description {
		font-size: 45px;
	}

	.project-title {
		font-size: 162px;
	}

	#name {
		width: 710px;
		height: 100%;
	}

	#email-address {
		margin-bottom: 10px;
		margin-top: 10px;
		width: 710px;
		font-weight: 700;
	}

	.contact-padding-div {
		padding: 948px 0px 0px 0px;
	}

	.contact-content {
		font-size: 200px;
		line-height: 201px;
		left: -560px;
		bottom: 270px;
	}

	textarea {
		height: 469px;
		width: 710px;
		margin-bottom: 5px;
	}

	input[type=submit] {
		font-size: 28px;
		margin-right: -175px;
	}

	form {
		top: 236px;
		right: 260px;
		position: absolute;
	}

	.container {
		padding: 11px 922px 19px 462px;
	}

	.about-padding-div {
		padding: 978px 0px 0px 0px;
	}

	#about-pic {
		position: absolute;
		width: 371px;
		top: 111px;
		padding-left: 90px;
	}

	.about-text-container {
		width: 1331px;
		top: 200px;
		right: 100px;
	}

	#about-text {
		font-size: 45px;
	}

	#about-header {
		font-size: 69px;
		top: -19px;
		right: 408px;
		line-height: 50px;
	}

	.skils-container {
		bottom: 10px;
		left: 281px;
	}

	.skill-text {
		font-size: 55px;
	}

	#skill-icons {
		width: 1270px;
	}
}