@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#monogram {
	width: 218.02px;
	height: 136.16px;
	top: 7px;
	left: 16px;
	position: absolute;
	cursor: pointer;
}

@media screen and (min-width: 1500px) {
	#monogram {
		width: 349.02px;
		height: 180.02px;
		top: 9px;
		left: 16px;
		position: absolute;
		cursor: pointer;
	}
}


.home-content {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 120px;
	letter-spacing: 2px;
	line-height: 141px;
	margin: -9px 156px 7px 0px;
	padding-left: 19px;
	color: white;
}

@media screen and (min-width: 1500px) {
	.home-content {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 190px;
		letter-spacing: 2px;
		line-height: 205px;
		margin-left: -139px;
		margin-bottom: 0px;
		margin-top: 185px;
		color: white;
	}
}

.padding-div {
	padding: 141px 0px 110px 0px;
}

.no-wrap {
	white-space: nowrap;
}

.display {
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 100px;
	letter-spacing: -1px;
	line-height: 141px;
	margin: -43px 0px 0px 0px;
	padding-left: 19px;
	color: white;
}

@media screen and (min-width: 1500px) {
	.display {
		line-height: 162px;
	}
}


.main {
	background: #7600ff url('../assets/vector.svg') no-repeat bottom right;
	background-size: auto 114%;
}

@media screen and (min-width: 1500px) {
	.main {
		background: #7600ff url('../assets/vector.svg') no-repeat bottom right;
	}

	.padding-div {
		padding-top: 0px;
		padding-bottom: 110px;
		padding-left: 160px;
	}
}

#rally {
	background: url(../assets/Reinhart-Optimized.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#air-quality {
	background: url(../assets/air-quality-port.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

#nexus {
	background: #64B1FF url(../assets/nexus-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#garden-temple {
	background: #21CF7C url(../assets/plants-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.garden-temple-btn {
	background-color: rgba(33, 207, 124, 0.7) !important;
}

#middle-button {
	padding-right: 21px;
	padding-left: 21px;
}

#top-nav {
	position: absolute;
	top: 10px;
	right: 19px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
}

@media screen and (min-width: 1500px) {
	#top-nav {
		font-size: 43px;
	}
}

.top-nav-button {
	float: right;
}

.top-nav-button a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.section {
	position: relative;
}

#rally-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 68%;
	position: absolute;
	left: 222px;
	top: 93px;
}

@media screen and (min-width: 1500px) {
	#rally-logo {
		width: 66%;
		left: 330px;
		top: 144px;
	}
}


#nexus-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	position: absolute;
	left: 286px;
	top: 77px;
}

@media screen and (min-width: 1500px) {
	#nexus-logo {
		width: 58%;
		left: 472px;
		top: 105px;
	}
}

#garden-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 59%;
	position: absolute;
	left: 276px;
	top: 107px;
}

@media screen and (min-width: 1500px) {
	#garden-logo {
		width: 60%;
		left: 420px;
		top: 105px;
	}
}

#aq-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 54%;
	position: absolute;
	left: 303px;
	top: 103px;
}

@media screen and (min-width: 1500px) {
	#aq-logo {
		width: 50%;
		left: 460px;
		top: 125px;
	}
}

.visit-button {
	background-color: transparent;
	color: white;
	font-size: 29px;
	font-weight: 430;
	padding: 9px 46px;
	text-align: center;
	border: 6px solid white;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}

@media screen and (min-width: 1500px) {
	.visit-button {
		background-color: transparent;
		color: white;
		font-size: 46px;
		font-weight: 430;
		padding: 9px 87px;
		text-align: center;
		border: 6px solid white;
		letter-spacing: 2px;
		outline: none;
		cursor: pointer;
	}
}

.visit-button a {
	color: white;
	text-decoration: none;
}

.about-button {
	background-color: transparent;
	color: white;
	font-size: 26.5px;
	padding: 9px 6px;
	text-align: center;
	border: 6px solid white;
	margin-left: 18px;
	font-weight: 480;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
}

@media screen and (min-width: 1500px) {
	.about-button {
		background-color: transparent;
		color: white;
		font-size: 43px;
		padding: 9px 16px;
		text-align: center;
		border: 6px solid white;
		margin-left: 18px;
		font-weight: 480;
		letter-spacing: 1px;
		outline: none;
		cursor: pointer;
	}
}

.button-container {
	bottom: 74px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: block;
	left: 406px;
}

@media screen and (min-width: 1500px) {
	.button-container {
		bottom: 140px;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		display: block;
		left: 617px;
	}
}

.dev-des-container {
	bottom: -265px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: inline-block;
	left: 406px;
	white-space: nowrap;
}

@media screen and (min-width: 1500px) {
	.dev-des-container {
		bottom: -415px;
		left: 616px;
	}
}

.dev-des {
	display: inline-block;
}

.dev-des-text {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 31px;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (min-width: 1500px) {
	.dev-des-text {
		font-size: 51px;
	}
}

.dev-des-circle {
	width: 51px;
	vertical-align: middle;
}

@media screen and (min-width: 1500px) {
	.dev-des-circle {
		width: 56px;
	}
}

.rally-overlay {
	background-color: rgb(34, 34, 34);
	background-color: rgba(34, 34, 34, 0.75);
}

.nexus-overlay {
	top: 1316px;
	background-color: rgb(100, 177, 255);
	background-color: rgba(100, 177, 255, 0.75);
}

@media screen and (min-width: 1500px) {
	.nexus-overlay {
		top: 1821px;
	}
}

.garden-overlay {
	top: 1956px;
	background-color: rgb(33, 207, 124);
	background-color: rgba(33, 207, 124, 0.75);
}

@media screen and (min-width: 1500px) {
	.garden-overlay {
		top: 2730px;
	}
}


.aq-overlay {
	top: 2604px;
	background-color: rgb(30, 64, 230);
	background-color: rgba(30, 64, 230, 0.75);
}

@media screen and (min-width: 1500px) {
	.aq-overlay {
		top: 3640px;
	}
}


.overlay {
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: relative;
	top: 25%;
	width: 100%;
	margin-top: 30px;
}

.lng-txt-overlay-content {
	top: 10%;
	width: 878px;
}

@media screen and (min-width: 1500px) {
	.lng-txt-overlay-content {
		top: 11%
	}
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	font-size: 80px;
	padding: -4px;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.disabled {
	pointer-events: none;
	opacity: 0.2 !important;
	transition: 0.5s;
}

#nav-bar {
	transition: 0.5s;
}

.project-description {
	font-size: 30px;
	margin-top: -10px;
	position: fixed;
	opacity: 0;
	transition: 0.5s;
}

@media screen and (min-width: 1500px) {
	.project-description {
		font-size: 45px;
	}
}

.project-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 120px;
	letter-spacing: -1px;
	line-height: 141px;
	margin: -43px 156px 7px 0px;
	padding-left: 19px;
	color: white;
}

@media screen and (min-width: 1500px) {
	.project-title {
		font-size: 162px;
	}
}

.project-description-container {
	padding-left: 26px;
}


#name {
	resize: none;
	outline: none;
	border-radius: 16px;
	border-style: none;
	width: 530px;
	height: 100%;
	font-weight: 700;
	color: #979797;

}

#email-address {
	resize: none;
	outline: none;
	border-radius: 16px;
	border-style: none;
	width: 530px;
	font-weight: 700;
	color: #979797;
}

.contact-about-padding-div {
	padding: 135px 0px 0px 0px;
}


.contact-content {
	width: 580px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 120px;
	letter-spacing: 2px;
	line-height: 141px;
	right: 670px;
	margin: auto;
	padding-left: 36px;
	color: white;
	bottom: 160px;
	position: absolute;
}

input[type=text],
[type=email],
select,
textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 36px;
	box-sizing: border-box;
	resize: none;
	outline: none;
}


textarea {
	height: 309px;
	width: 530px;
	color: #979797;
	overflow-y: auto;
}

::placeholder {
	color: #DEDEDE;
	font-weight: 700;
	opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	font-weight: 700;
	-webkit-text-fill-color: #979797;
	color: #979797;
}

/* Style the label to display next to the inputs */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/* Style the submit button */
input[type=submit] {
	background-color: white;
	color: white;
	padding: 12px 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 18px;
	color: #7600ff;
	float: right;
	outline: none;
}

input[type=submit]:hover {
	background-color: whitesmoke;
	opacity: 1;
	color: #5700bb;
}

/* Style the container */
.container {
	border-radius: 5px;
	padding: 11px 20px 19px 462px;
}

/* Floating column for labels: 25% width */
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (min-width: 1500px) {
	
	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}

}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey;  */
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #7600ff;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #5700bb;
}